* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 380px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    border: 20px solid #eee;
    font-family: verdana;
}

input[type=text] {
    padding: 5px;
    border: 1px solid #666;
    width: 200px;
}

input[type=submit] {
    border: 0px;
    color: white;
    background: #666;
    border-radius: 15px;
    padding: 5px 8px;
    margin-left: 8px;
    cursor: pointer;
}

#container {
    margin: 20px;
    background: #eee;
    padding: 30px;
}

#output {
    width: 380px;
    margin: 0 auto;
}

#output p {
    width: 100%; 
    text-align: center;
}
